[submodule "_/juusho"]
	path = _/juusho
	url = git@github.com:Lgion/juusho.net.git
[submodule "_/legion"]
	path = _/legion
	url = https://github.com/Lgion/legion.net
[submodule "_/synergie"]
	path = _/synergie
	url = git@github.com:Lgion/synergie.net.git
[submodule "_/youSave"]
	path = _/youSave
	url = https://github.com/Lgion/youSave.net
